/* Imandeep Singh Sidhu*/

/*Styling for overall body*/
body{
    background-image: url(/img/background2.jpg);
    padding: 0px; 
    margin: 0px

}

/*Styling for header for page*/

header{
    background-color:darkblue;
    font-weight: bold;
    font-size: x-large;
    color: white;
    padding: 10pt;

}
a{
    color: azure;
}
nav{
    font-weight: bold;
    font-size: x-large;
    text-align: right;
}
a{
    text-decoration: none;
}
nav>a{
    margin-right: 30px;
}

/*grid styling used for page*/

.grid{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: auto auto auto;
    justify-content: space-evenly;
    gap: 10px;
}
.grid2{
   
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 31% 31% 31%;
    justify-content: space-evenly;
    gap: 10px;
}

.item-1{
    border: solid;
    border-color: aqua;
    background-color: bisque;
    text-align: center;

}
.upcoming{
    text-align: center;
    color: aliceblue;
    text-decoration: underline;
    font-style: italic;
}
.item-2{
    border: solid;
    border-color: aqua;
    background-color: white;
    text-align: center;

}
.heading{
    font-size: 28pt;
}
.price{
    font-size: 22pt;
}

 .c-img{
    height: 200px;
    width: 300px;
 }


/*Styling for footer*/

footer{
    margin-top: 0;
    color: #eef8ff;
    display: flex;
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    background: linear-gradient(to right, #00093c, #2d0b00);
    background-color: darkblue;
    
}
span{
    color: antiquewhite;
    font-size: 14pt;
   
}
